<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">

<head>
    <title>{% block title %}7cerebros{% endblock %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="es-ar" />
    <meta name="keywords" content="7cerebros, ingenio, puzzle, 7, siete, cerebros, concurso" />
    <meta name="description" content="¡Estrujá tus neuronas!" />
{% block head %}{% endblock %}
</head>

<body>
{% block body %}{% endblock %}
</body>

</html>
