{% extends "../common/base.html" %}

{% block head %}
	<link rel="shortcut icon" href="/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="/css/default.css" />
{% block css %}{% endblock %}
	<script type="text/javascript" src="/js/mootools.js"></script>
	<script type="text/javascript" src="/js/curiosidades.js"></script>
	<script type="text/javascript" src="/js/twitter.js"></script>
{% block js %}{% endblock %}
{% endblock %}

{% block body %}

<div id="header">
<h1>7cerebros</h1>
<p class="tagline">¡estrujá tus neuronas!</p>
<div class="curiosidades"><strong>¿Sabías que...?</strong> <span id="curiosidades"></span></div>
</div>

<div id="menu" class="bar">
    <div class="bar-left-wrap">
    <div class="bar-right-wrap">
    <ul>
        <!-- TODO: include menus depending if user has logged in or not  -->
        <li><a href="/">Inicio</a></li>
        <li><a href="/info">¿Qué es 7cerebros?</a></li>
        <li><a href="/perfil">Tu Perfil</a></li>
        <li><a href="/practica">Práctica</a></li>
        <li><a href="/concurso">Concurso</a></li>
    </ul>
    </div>
    </div>
</div>

<div id="content">
{% block content %}
<h2>7cerebros</h2>
{% endblock %}
</div>

<div id="sidebar">
{% block sidebar %}

<!--
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-4900937-4");
pageTracker._trackPageview();
} catch(err) {}</script>
-->

<!-- twitter --> 
<div id="twitter_div">
<h2 class="sidebar-title">Noticias</h2>
<ul id="twitter_update_list"></ul>
<a href="http://twitter.com/7cerebros" id="twitter-link" style="display:block;text-align:right;">Seguinos en Twitter</a>
</div>

{% endblock %}
</div>

<div id="footer" class="bar">
    <div class="bar-left-wrap">
    <div class="bar-right-wrap">
        <p>&copy; 7cerebros 2009. Todos los derechos reservados. <a href="/sponsors">Publicitar</a> | <a href="/sponsors">Sponsors</a> | <a href="/contacto">Contacto</a></p>
    </div>
    </div>
</div>

{% endblock %}
