{% extends "../common/default.html" %}

{% block content %}
<h2>¡Qué dolor de cabeza!</h2>
<p>... que tienen nuestros servidores ahora.</p>
<p><strong>Algo inesperado sucedió.</strong> El problema será reportado a los duendes que mantienen este sitio funcionando para que lo solucionen. (Si no creés en los duendes, también podés avisarnos a <a href="mailto:soporte@7cerebros.com.ar">soporte@7cerebros.com.ar</a>)</p>
<p>Mientras tanto, probá <a href="javascript:history.back()">volver atrás</a> o <a href="/">volver a la página de inicio</a>.</p>
{% endblock %}

{% block sidebar %}
{% endblock %}
