{% extends "../common/default.html" %}

{% block pagetitle %}Bases y Condiciones del concurso{% endblock %}
{% block css %}
<style type="text/css">
pre.bases {
    display: block;
    overflow: auto;
    width: 95%;
    height: 240px;
    white-space: normal;
    border: 1px gray solid;
    padding: 12px;
}
</style>
{% endblock %}

{% block content %}
<h2>Bases y Condiciones del concurso</h2>

<pre class="bases">
<h2 style="margin: 0;">BASES Y CONDICIONES DE LA PROMOCIÓN “7cerebros: ¡estrujá tus neuronas!”</h2>
<h3>CAPÍTULO I - OBJETIVO</h3>
El concurso “7cerebros: ¡estrujá tus neuronas!” es una competencia nacional de carácter educativo, promovida por 7cerebros, con el objetivo de:<br>
<br>
	. Estimular un espíritu curioso y proactivo en los jóvenes ante problemas de dificultad considerable;<br>

	. Desarrollar la capacidad de razonamiento abstracto y lógico;<br>

	. Brindar a los participantes, por medio de actividades lúdicas, una experiencia de aprendizaje sobre problemas NP-completos o de complejidad elevada;<br>

	. Desarrollar habilidades para el pensamiento analítico deductivo y a su vez el pensamiento lateral;<br>

	. Concientizar a la juventud de que hay actividades educativas y de valor en internet, en contraposición con la pérdida de tiempo online.<br>
<br>


<h3>CAPÍTULO II - EL JUEGO</h3>
TITULO I - “Del propósito de la promoción”<br>
<br>
1)     7cerebros (en adelante y en conjunto los ORGANIZADORES) llevará adelante la presente promoción (en adelante la PROMOCIÓN), en la que serán invitados a participar los estudiantes de escuela media o universitarios que se hayan inscripto en la página web del concurso. (en adelante los PARTICIPANTES).<br>
<br>
2)     El propósito del concurso es estimular la participación de estudiantes, generar ámbitos para el desarrollo de habilidades mentales, y fomentar la capacidad de resolver problemas de ingenio y pensamiento lateral de los participantes.<br>
<br>
3)     El premio consistente en la suma de $ 5,000 (cinco mil pesos argentinos) que serán otorgados por 7cerebros al ganador del concurso (en adelante el PREMIO). <br>
<br>
TITULO II - “Quienes pueden participar”<br>
<br>
4)	Participarán todos aquéllos argentinos que se hayan inscripto en el concurso “7cerebros: ¡estrujá tus neuronas!” a través del sitio web  www.7cerebros.com.ar, siguiendo las instrucciones que el mismo establece, y hayan leído y aceptado las bases y condiciones aquí expuestas.<br>
<br>
5)	No podrán participar en la promoción los familiares (padres, hijos, hermanos, y cónyuges) de empleados, empleados, funcionarios o directivos de los ORGANIZADORES.<br>
<br>
6)	No podrán participar en la promoción aquellas personas que hayan cumplido 21 años antes del día 1 de mayo de 2009.<br>
<br>
TITULO III - “Ámbito de aplicación de la promoción”<br>
<br>
7)     El concurso se desarrollará en la República Argentina únicamente. Los usuarios de otros países podrán <br>
	participar del juego, pero no tendran derecho a reclamar el PREMIO ni pasar a la etapa final.<br>
<br>
TITULO IV - “De la participación en la promoción y su realización”<br>
<br>
8)     Condiciones generales del concurso<br>
<br>
a.      Todos los PARTICIPANTES competirán en una única categoría.<br>
<br>
b.      Cada participante podrá presentar tantas soluciones a los problemas como desee, <br>
	únicamente a través de la página web del concurso, considerándose como válida<br>
	únicamente la última que se envíe antes del tiempo de finalización del concurso.<br>
	Dicha solución se usará para calcular el puntaje y por consiguiente el desempeño del jugador.<br>
<br>
c.      La presentación de las soluciones implicará la declaración de su autenticidad, eximiendo a los ORGANIZADORES<br>
	de cualquier responsabilidad que fuere por reclamos de terceros respecto a la autoría y los derechos sobre una solución.<br>
<br>
d.      Las soluciones sólo podrán ser presentadas en forma individual.<br>
<br>
9) CARACTERÍSTICAS DEL CONCURSO<br>
<br>
La PROMOCIÓN tendrá como fecha de inicio el día  2 de abril de 2009 y como fecha de término el día 31 de octubre de 2009.<br>
La competencia se dividirá en 3 (tres) etapas:<br>
	<br>
	. Etapa Preliminar - Problemas de Práctica;<br>
	<br>
	. Primera etapa - Concurso Principal Online;<br>
	<br>
	. Segunda Etapa: Final;<br>
<br>
10)     Etapa Preliminar - Problemas de Práctica<br>
<br>
a.      La etapa de problemas de práctica se llevará a cabo desde el día 2 de abril de 2009 hasta el día 30 de abril de 2009.<br>
<br>
b.      Para participar en dicha etapa, se deberá completar el formulario de registración en el sitio web www.7cerebros.com.ar obteniéndose una nueva cuenta de usuario, que será única para cada participante y se utilizará durante toda la promoción.<br>
<br>
c.      Dicho formulario deberá indicar los datos personales auténticos del participante que se inscribe,<br>
	y la información solicitada en cada uno de los ítems que allí figuran.<br>
<br>
d.      Los ORGANIZADORES enviarán un mensaje confirmando la recepción de los datos y la creación de la cuenta a la dirección de correo electrónico que figure en el formulario. De esta forma, quedará confirmada su validez y se asumirá que toda comunicación enviada a ella será recibida por el participante. Los participantes no podrán participar si no recibieron el mensaje de confirmación.<br>
<br>
e.	Los problemas de práctica servirán para familiarizarse con la interfaz del concurso, pero no afectarán de ninguna manera el desempeño en el concurso principal.<br>
<br>
f.	Cada participante comienza la ronda con 60 puntos de juego. La etapa preliminar constará de 5 problemas de práctica, que otorgarán al que los resuelva -10 puntos de juego cada uno. En caso de empate en puntaje, se tomarán las fechas de resolución de los problemas, y aquel usuario que tenga tiempos menores, será el que obtendrá una mejor posición. El objetivo es conseguir la menor cantidad de puntos.<br>
<br>
g.	Al enviar una solución de un problema de práctica, el sistema informará al usuario si su solución fue correcta o incorrecta.<br>
<br>
11)  Primera etapa - Concurso Principal Online<br>
<br>
a.      La etapa del concurso principal online se llevará a cabo desde el día 1 de mayo de 2009 hasta el día 1 de octubre de 2009.<br>
<br>
b.      Para participar en esta etapa, se deberá contar con una cuenta otenida del sitio web www.7cerebros.com.ar, aunque no es necesario haber participado de la etapa preliminar para poder concursar en esta.<br>
<br>
c.	La etapa del concurso principal online constará de 7 problemas a resolver en la web. Los problemas se liberarán desde el 1 de mayo, día en el que comienza la etapa, de a uno, cada dos semanas. Así, el primer problema será liberado para su resolución el día 1 de mayo, el segundo el día 16 de mayo, el tercero el 30 de mayo, y así sucesivamente. El último (séptimo) problema se liberará el día 25 de julio, tras lo cual el concurso continuará hasta el día 1 de octubre.<br>
<br>
d.	Cada problema estará disponible para ser resuelto desde su fecha de liberación hasta la finalización del concurso. Los problemas no quedarán inhabilitados por la liberación de problemas posteriores.<br>
<br>
e.	Cada problema resuelto otorgará al que los resuelva una cantidad de puntos de juego proporcional al tiempo que tardó en resolver. Se computará la diferencia entre la fecha de resolución del problema y la fecha de liberación del mismo, sin importar cuándo empezó el usuario a resolver ese problema. De esta forma, cuanto menos tiempo tarde el usuario en resolver un problema, menor será el puntaje. <br>
<br>
f.	Al enviar una solución de un problema del concurso principal online, el sistema NO informará al usuario si su solución fue correcta o incorrecta, hasta luego de terminada la etapa, el día 7 de octubre.<br>
<br>
g.	Finalizada la etapa del concurso principal online, se calculará el puntaje total de cada jugador sumando los puntos de juego obtenidos en cada uno de los 7 problemas. El objetivo es, nuevamente, conseguir la menor cantidad de puntos.<br>
<br>
h.      Se seleccionarán a los 7 participantes que menor puntaje tengan en esta ronda para pasar a la final.<br>
<br>
i.      El día 7 de octubre 2009 se publicará en el sitio web los nombres de los ganadores y más instrucciones para los mismos.<br>
<br>
12)  Segunda etapa - Final<br>
<br>
a.      Los participantes seleccionados finalistas a través de la primera etapa, clasificarán a la etapa final, de la cual se darán detalles una veces finalizada la etapa online del concurso.<br>
<br>
b.	La etapa final será presencial y se llevará a cabo en la Ciudad Autónoma de Buenos Aires. Los gastos de traslado y hospedaje quedarán a cargo de los participantes que lleguen a dicha etapa.<br>
<br>
c.	Un jurado determinado por los ORGANIZADORES elegirá de entre los 7 finalistas al ganador, mediante algún método, que se hará acreedor del PREMIO.<br>
<br>
13) El resultado se informará via correo electrónico ganador y se hará de conocimiento público, por el medio de publicidad que los ORGANIZADORES determinen.<br>
<br>
14) La entrega del premio será en el mes de octubre de 2009 (fecha a confirmar) y ésta se perfeccionara, mediante la entrega a nombre del ganador del cheque con la suma indicada en el punto 3 de estas bases y condiciones.<br>
<br>
15) DESCALIFICACIÓN<br>
<br>
a.	Será sumariamente descalificado todo y cualquier participante que trate de invadir y/o violar los sistemas del juego o que intente, de cualquier forma, adulterar los resultados de los PARTICIPANTES en la competencia.<br>
<br>
b.	Serán descalificados también, los participantes que actúen de forma inadecuada, irresponsable, irrespetuosa o no ética, con relación a los otros participantes, o a los interlocutores de 7cerebros.<br>
<br>
c.	Serán descalificados de la competencia los participantes que no presenten, cuando sea solicitado, cualquier documento eventualmente necesario para comprobar la veracidad de las informaciones y el diligenciamiento de las condiciones exigidas para la participación en el juego.<br>
<br>
<h3>CAPÍTULO III - “CONDICIONES GENERALES”</h3>
16) Toda responsabilidad respecto del concurso web, problemas de práctica, etapa final, y entrega por parte de los ORGANIZADORES, cesa una vez entregado el cheque a nombre del concursante ganador, entendiéndose este acto como la entrega material del PREMIO.<br>
<br>
17)  Los ORGANIZADORES, no serán, en modo alguno, responsables por accidentes, robo, perdida o extravío, daños materiales o físicos que ocurran durante la entrega del premio o durante el desarrollo de la presente promoción.<br>
<br>
18) La sola participación en el concurso implicará la aceptación de estas bases y otorga el derecho a los ORGANIZADORES a producir, distribuir y reproducir en cualquier medio los datos personales de los finalistas así como los métodos para resolver los problemas que utilizaron. Por el sólo hecho de participar, se presumirá que los concursantes, han leído las presentes bases, las conocen y aceptan a entera satisfacción, no pudiendo aducir desconocimiento de las mismas. Por lo tanto, la aplicación de ellas no dará derecho a reclamo alguno en contra de los ORGANIZADORES ni de sus ejecutivos, trabajadores o personeros, especialmente en el caso que se niegue la entrega del premio, por estimarse que al respecto no se cumplen las reglas establecidas anteriormente.<br>
<br>
19) El incumplimiento de cualquiera de las normas señaladas en estas bases por parte de los concursantes, facultará a los ORGANIZADORES a descalificar a los infractores, negándosele el premio obtenido en estas circunstancias.<br>
<br>
20)  Los ORGANIZADORES se reservan el derecho de iniciar las acciones legales que estime procedentes, en el caso de detectar alguna irregularidad, con relación al desenvolvimiento de la promoción regulado por estas bases.<br>
<br>
21)  Los ORGANIZADORES se reservan el derecho de interpretar soberanamente las presentes bases, circunstancia que los concursantes aceptan por el solo hecho de participar en la promoción.<br>
<br>
22)  Se deja constancia que las presentes bases son las únicas que regulan la promoción “7cerebros: ¡estrujá tus neuronas!” en su primera versión, de manera tal que cualquiera otra queda sin efecto, a menos que así quede estipulado por los ORGANIZADORES.<br>
<br>
23)  Los ganadores autorizan expresamente a los ORGANIZADORES a difundir sus nombres, localidad, imágenes o voces de forma gratuita, con fines comerciales y/o publicitarios, comprometiéndose asimismo a prestar su colaboración para las actividades promocionales y publicitarias que fuera menester para ello, sin derecho a compensación alguna, en la forma y medios que los ORGANIZADORES consideren convenientes. Los participantes autorizan la cesión de sus datos registrados a los ORGANIZADORES de la competencia para cualquier uso posterior, por tiempo indeterminado, tanto en Argentina como en el exterior.<br>
<br>
24)  El ganador asume la total responsabilidad y los costos que deba incurrir para el goce del premio, así como de los daños y/o perjuicios que pueda sufrir el y el premio durante su traslado y utilización.<br>
<br>
25)  Los PARTICIPANTES eximen de toda responsabilidad y expresamente renuncian a cualquier derecho o acción que eventualmente y de acuerdo a cualquier legislación correspondieren a él, a sus representantes legales y a sus herederos o sucesores a cualquier título, contra los ORGANIZADORES y, a las empresas que ésta contrate, sus filiales, subsidiarias, coligadas, asociadas o en cualquier forma relacionadas, sus respectivos concesionarios, directores, trabajadores y profesionales y personas naturales o jurídicas que le presten servicios a cualquier título, agentes, incluyendo agencias de publicidad y de promoción y sus patrocinadores o auspiciadores, con motivo de su participación en esta promoción “7cerebros: ¡estrujá tus neuronas!” y respecto del premio obtenido.<br>
<br>
26)  La Promoción y las presentes Bases cumplen con lo dispuesto en la legislación vigente.<br>
<br>
27)  Cualquier controversia que se produzca con motivo de la validez, interpretación y aplicación de esta promoción, será resuelta por los Tribunales de la Cuidad de Buenos Aires.<br>
<br>
28)  En el desenvolvimiento y realización de esta promoción, así como la participación de los PARTICIPANTES, regirán las presentes bases.<br>
<br>
30)  Los casos omitidos en este reglamento, serán resueltos por los ORGANIZADORES, cuyas decisiones, en términos de este reglamento, son soberanas e inapelables. Para todo lo que no se mencione expresamente en estas bases o sea decidido por los ORGANIZADORES, rigen las normas establecidas en el Código Civil referente al tema.<br>
</pre>


<p><a href="/">Volver a la página de inicio</a></p>

{% endblock %}
