{% extends "../common/default.html" %}

{% block content %}
<p>Si tenés alguna duda o sugerencia, mandanos un mail a:
<a href="mailto:contacto@7cerebros.com.ar">contacto@7cerebros.com.ar</a></p>
<p>También podés seguirnos en Twitter, Facebook y tu lector de noticias:</p>
<p>
<a href="http://twitter.com/7cerebros"><img src="/images/twitter.png" width="128" height="128" alt="Twitter" title="Twitter"></a>
<a href="http://www.facebook.com/group.php?gid=52029424362"><img src="/images/facebook.png" width="128" height="128" alt="Facebook" title="Facebook"></a>
<a href="http://feeds.feedburner.com/7cerebros"><img src="/images/feed.png" width="128" height="128" alt="Feed" title="Feed"></a>
</p>
{% endblock %}
