{% extends "../common/default.html" %}

{% block css %}
<style type="text/css">
.login-form {
    float: left;
    width: 200px;
    background: #CCCCCC /*#99FF00*/;
    padding: 18px;
    margin: 12px;
}
.login-form h2 {
    font-size: 12pt;
    margin: 0 0 8px 0;
}
#username, #password {
    width: 190px;
}
#submit {
    float: right;
}
.login-form p, form label {
    font-size: 10pt;
}
.login-form input {
    font-size: 12pt;
}
.login-error {
    color: red;
    font-weight: bold;
}
p.info {
    font-size: 14pt;
    margin: 24px;
    float: left;
    width: 380px;
    line-height: 32pt;
}
p.info strong {
    font-size: 20pt;
}
</style>
{% endblock %}
{% block js %}
<script type="text/javascript">
<!--
function setValueAndColor(id, value, color) {
	$(id).set('value', value);
	$(id).setStyle('color', color);
}
window.addEvent('domready', function () {
	setValueAndColor('username', 'usuario', 'gray');
	setValueAndColor('password', 'contraseña', 'gray');
	$('username').addEvent('focus', function () {
		setValueAndColor('username', '', 'black');
		$('username').removeEvents('focus');
	});
	$('password').addEvent('focus', function () {
		setValueAndColor('password', '', 'black');
		$('password').removeEvents('focus');
	});
});
//-->
</script>
{% endblock %}

{% block content %}
<form class="login-form" method="post" action="/login">
<h2>Ingresar</h2>
{% if login_error %}
<p class="login-error">¡Ups! El usuario y la contraseña ingresados no son válidos...</p>
{% endif %}
<input name="username" id="username" type="text" value="" tabindex="1" /><br />
<input name="password" id="password" type="password" value="" tabindex="2" /><br />
<input name="remember" id="remember" type="checkbox" tabindex="3" /><label for="remember">Recordarme</label>
<input id="submit" type="submit" value="Ingresar" tabindex="4" />
<!--<p>¿Todavía no sos usuario? <a href="/registrate">Registrate</a>. Es rápido y gratis.</p>-->
</form>
<p class="info">Nuestras mentes están activas pensando en el futuro de <strong>7cerebros</strong>.
Si te interesa estar al tanto de lo que pasa, tenés <a href="/contacto">varios métodos para hacerlo</a>.
Por ahora, a esperar... </p>
{% endblock %}
