{% extends "../common/default.html" %}

{% block content %}
	<a name="page_top"></a>
        <h2>Todo lo que tenés que saber de 7cerebros...</h2>
        <p>... está acá (o debería):</p>
	
<!--	¡Bienvenido al gran concurso por $5.000 de 7cerebros, <b>{{name}}</b>!<br>-->
<!--<p>7cerebros es un concurso de juegos de ingenio que se va a desarrollar en la web. Ofrecemos un premio de $5000 al primero que logre resolver los 7 problemas que se plantearán, y que involucrarán distintos tipos de conocimientos y talentos.</p>
<p>Los problemas se irán liberando desde el 1 de Mayo de 2009, y habrá un período de 5 meses en el que se podrán resolver. Finalizada dicha etapa se anunciarán los finalistas y se darán detalles de la instancia final presencial.</p>
<p>En este momento también se está desarrollando una ronda de problemas de práctica, así que anotate acá y empezá a despertar tus neuronas!</p>-->
	<ul>
		<li><a href="#introduccion">Introducción</a></li>
		<li><a href="#modalidad_del_concurso">Modalidad del Concurso</a></li>
		<li><a href="#cronograma">Cronograma</a></li>
		<li><a href="#como_ganar">Cómo ganar</a></li>
		<li><a href="#quienes_pueden_participar">Quiénes pueden participar</a></li>
		<li><a href="#como_practicar">Cómo practicar</a></li>
		<li><a href="#mas_informacion">Más información</a></li>
	</ul>

	<p style="text-align: right;"><a href="#page_top">Volver al Índice</a></`>
	<h3><a name="introduccion">Introducción</a></h3>
	<p>¡Empezó el concurso principal!</p>

	<p>¿Cómo es esta nueva etapa? Todos los participantes compiten en la misma categoría.</p> 
	<p>Para ganarte los $5.000 vas a tener que romperte el coco resolviendo los <a href="/5k/problemas">7 problemas</a> que planteamos. Cada uno involucra diferentes talentos y habilidades, y no tendrán sólo que ver con matemáticas.</p>
	<p style="text-align: right;"><a href="#page_top">Volver al Índice</a></p>

	<h3><a name="modalidad_del_concurso">Modalidad del Concurso</a></h3>
	<p>Los problemas se irán liberando cada 2 semanas, a partir del 1 de Mayo. Tu objetivo es resolver 
	cada problema en el menor tiempo posible desde que son liberados. Todos los problemas se juegan
	y resuelven en la web, y las respuestas se mandan a través de este sitio. A diferencia de la ronda
	de problemas de práctica, cuando envíes tu solución para los problemas de ésta etapa, no se te
	informará si tu respuesta fue correcta o no. Podés enviar tantas respuestas como quieras para
	cada problema, pero la única que cuenta es última, sea esta correcta o incorrecta. Por eso,
	tenés que asegurarte que la respuesta que enviás es válida, pero a la vez apurarte para resolver
	cada problema lo más rápido que puedas.</p>
	<p style="text-align: right;"><a href="#page_top">Volver al Índice</a></p>

	<h3><a name="cronograma">Cronograma</a></h3>
	<p>El primer problema se libera el 1 de mayo. De ahí en adelante, los problemas salen cada 
	aproximadamente dos semanas. Las fechas exactas se aclaran a continuación:</p>
	<ul>
	<li>Problema 1: 01/05/09</li>
	<li>Problema 2: 16/05/09</li>
	<li>Problema 3: 30/05/09</li>
	<li>Problema 4: 13/06/09</li>
	<li>Problema 5: 27/06/09</li>
	<li>Problema 6: 11/07/09</li>
	<li>Problema 7: 25/07/09</li>
        <li>Fecha de Ronda Final Presencial: Aproximadamente 20/09/09</li>
        <li>Finalización del Concurso: 05/10/09</li>
	</ul>
	<p style="text-align: right;"><a href="#page_top">Volver al Índice</a></p>

	<h3><a name="como_ganar">Cómo ganar</a></h3>
	<p>Cuando mandás una solución correcta a un problema, guardamos el tiempo que tardaste en resolverlo.
	Esto se calcula con la diferencia entre el momento en el que lo resolviste y el momento en el 
	que el problema fue liberado, <em>no el momento en el que empezaste a jugar vos.</em> Por eso,
	estate atento a las fechas de liberación de los problemas porque para ganar es imprescindible 
	acumular la menor cantidad de tiempo de resolución.</p>
	<p>Los siete usuarios que obtengan las menores sumas de tiempos accederán 
	a una instancia final presencial en la que competiran para ganarse los
  codiciados $5.000. </p>
  <p>Todos los finalistas se harán acreedores de un cupón por $100 en Tematika.com:
  </p>
  <p style="text-align: center"><a href="http://www.tematika.com"><img width="410" height="75" src="/images/tematika.jpg" alt="Tematika"></a></p>
   <p>Igualmente, más adelante les daremos más detalles sobre la etapa final, por ahora,
	¡a resolver los 7 problemas!</p>
	<p style="text-align: right;"><a href="#page_top">Volver al Índice</a></p>

	<h3><a name="quienes_pueden_participar">Quiénes pueden participar</a></h3>
	<p>El concurso está pensado para Argentina. Por lo tanto, sólamente los residentes de este país podrán
	concursar por el premio de $5.000. Sin embargo, si sos de otro país, podés divertirte intentando resolver
	los problemas, aunque no puedas ganar el premio. </p>
        <p>Hay además una restricción de edad, acorde a la dificultad de los problemas: para concursar por el
	premio debés ser menor a 21 (veintiún) años. Esto es así porque no sería justo que alguien que ya puede
	haber terminado sus estudios universitarios compita con alguien que todavía asiste a la escuela.</p>
	<p>Para que no haya confusión, se tomarán como participantes válidos aquellas personas que al día 
	01/05/09 no hayan cumplido todavía 21 años. Si cumpliste 21 antes que ese día, no podés ganar los $5.000.</p>
	<p style="text-align: right;"><a href="#page_top">Volver al Índice</a></p>

	<h3><a name="como_practicar">Cómo practicar</a></h3>
	<p>Como ya debe saber la mayoría que conoció <a href="/">7cerebros</a> antes del 1 de mayo, pusimos
	a disposición de los participantes una serie de <a href="/pra/problemas">5 problemas de práctica</a>
	que te ayudarán a entrenarte para encarar los problemas más difíciles del concurso principal. Si 
	te cansás de intentar resolver alguno de los 7 problemas principales, también podés relajarte jugando
	los de práctica.</p>
	<p style="text-align: right;"><a href="#page_top">Volver al Índice</a></p>

	<h3><a name="mas_informacion">Más información</a></h3>
	<p>Para más información, podés consultar las <a href="/bases">bases del concurso</a> o <a href="/contacto">mandarnos un mensaje</a>.</p>
	<p>Si ya querés empezar a jugar podés <a href="/concurso">ver los problemas</a>, o sino <a href="/">volver a la página de inicio</a>.</p>
	<p>Si tenés cualquier otra duda o problema, mandanos un mail a <a href="soporte@7cerebros.com.ar">soporte@7cerebros.com.ar</a>.</p>

{% endblock %}
